# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Local App Files / Configs
app/core/__pycache__/
app/screens/__pycache__/
app/widgets/__pycache__/
app/config/__pycache__/
history.db
history.json
config.json
cmd_history.json
output_feed.json

# Builds & Packaging
build/
dist/

